// learning blocks are any blockquote elements inside the markdown body

blockquote {
  border-left: 10px solid var(--trilogy-blue);
  color: #6a737d;
  border-radius: 13px;
  background: rgb(238, 247, 248);
  position: relative;
  left: 64px;
  width: calc(90% - 64px);
  padding: 20px;

  // title
  .title {
   font-size: 22px;
   font-variant: small-caps;
   display: block;
  }

  // some learning blocks start collapsed
  &.collapse {
    cursor: pointer;
  
    &:hover {
      border-width: 15px;
    }

    &.hint {
      .title::after {
        content: "?";
      }

      p {
        display: none;
      }
    }

    &.pause {
      p:not(:first-of-type) {
        display: none;
      }
    }
  }
  
  // icon placeholder
  &::before {
    content: "";
    background-size: cover;
    position: absolute;
    height: 50px;
    left: -75px;
    width: 50px;
    top: 28px;
  }
  
  // specific background styles per learning block type

  &.important, &.caution, &.hint, &.note, &.rewind, &.shortcut, &.pro-tip {
    border-color: #721c24;
    background-color: #F8D7DA;

     &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/381/preview");
    }
  }

  &.important {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1292/preview");
    }
  }

  &.caution {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1299/preview");
    }
  }

  &.hint {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1293/preview");
    }
  }

  &.note {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1291/preview");
    }
  }

  &.rewind {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1290/preview");
    }
  }

  &.shortcut {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1289/preview");
    }
  }

  &.finding {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/1297/preview");
    }
  }

  &.pause {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/89/files/802/preview");
    }
  }

  &.checkpoint, &.check-point {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/1298/preview");
    }
  }

  &.narrative {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/1296/preview");
    }
  }

  &.skill-drill {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/1295/preview");
    }
  }
  
  &.video, &.technical-overview-video, &.context-overview-video {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/385/preview");
    }
  }

  &.github {
    &::before {
      background-image: url("https://bootcampspot.instructure.com/courses/87/files/1294/preview");
    }
  }

  // Fullstack Specific

  &.legacy-lem {
    border-color: #067742;
    background-color: rgba(5, 255, 151, 0.705);

    &::before {
      background-image: url("https://illegalsystems.s3.us-east-2.amazonaws.com/legacy_lem.svg");
    }
  }


}
